@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: background-color 0.5s ease;
    transition: background 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -webkit-transition: background 0.5s ease;

    scroll-behavior: auto;
}


/*https://palettes.shecodes.io/palettes/267*/
:root {
    --head: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 95%, rgba(227,227,227,0) 100%);
    --p1: #FFFFFF;
    --p2: #4b698e;
    --p3: #86bcff;
    --p4: #374d68;
    --p5: #e3e3e3;
    --p6: #000000;
    --p7: #222222;
    --p8: #f2f2f2;
    --p9: #455d7a;
    --p10: #233142;
    --p11: #5a7aa0;
    --p12: #f95959;
    --p13: #6EAFFF;
}

/*https://palettes.shecodes.io/palettes/319*/
:root[data-theme='dark']{
    --head: linear-gradient(180deg, #f6f6f6 0%, #f6f6f6 95%, #f6f6f6 100%);
    --p1: #f6f6f6;
    --p5: #f6f6f6;
    --p10: #2c2e3e;
    --p12: #ee2b47;
}

body {
    background-color: var(--p5);
    color: var(--p1);
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    font-size: 1.5vh;
}

/* styles.css */
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loader {
    border: 0.4vh solid var(--p10);
    border-top: 0.4vh solid var(--p1);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
  }
  

/*
li {
    list-style-type: none;
}
*/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

a,
a:hover,
a:visited {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
    font-weight: 500;
    color: var(--p1);
}

.quiz-item-content a,
.quiz-item-content a:hover,
.quiz-item-content a:visited {
    color: var(--p1);
}

.ton.animate {
    opacity: 1;
    /*animation: fade-in 0.3s ease-in 1s forwards;*/
}

.ton2 {
    max-width: 100%;
    height: 79vh;
    overflow: auto;
}

.ton2b {
    display: block;
    position: fixed;
    height: 1vh;
    width: 12.5vh;
    background-color: var(--p5);
    border-top: solid 1vh var(--p5);
    filter: blur(0.3vh);
    z-index: 6;
    content: '　';
}

.ton2b.f {
    top: 18.5vh;
    left: 0.5vh;
}
.ton2b.s {
    bottom: 0vh;
    left: 0.5vh;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.ton {
    transform: rotate(-90deg);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 8vh;
    color: var(--p10);
    left: -1vh;
}

.navbar {
    position: fixed;
    top: 18.4vh;
    left: 0;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
}

.footer {
    position: fixed;
    top: 0vh;
    right: 0;
    padding: 0vh;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    flex-direction: column;
}

.tdlrt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tag {
    background-color: var(--p12);
    color: var(--p1);
    border: var(--p1) solid 0.2vh;
    border-radius: 0.5vh;
    padding: 0.3vh;
    margin: 0.5vh;
    font-size: 1.5vh;
    font-weight: 450;
    max-width: calc(92%);
    cursor: pointer;
}

.tag3 {
    color: var(--p10);
    border: var(--p10) solid 0.2vh;
    border-radius: 0.5vh;
    padding: 0.3vh;
    margin: 0.5vh;
    font-size: 1.5vh;
    font-weight: 450;
    max-width: calc(92%);
    cursor: pointer;
}

.active-tag {
    background-color: var(--p11);
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding: 1vh 0vh 1vh 1vh;
    width: 90%;
}

.quiz-item {
    background-color: var(--p4);
    color: var(--p5);
    padding: 1vh;
    margin: 1vh;
    width: 29vh;
    min-height: 8vh;
    border-radius: 1vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;

    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); 
    }
    20% {
        opacity: 0;
        transform: translateY(20px); 
      }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.quiz-item img {
    border-radius: 0.5vh;
    width: calc(100%);
}

.quiz-item-content,
.quiz-item-content div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.5vh;
}

.quiz-item-content h2 {
    color: var(--p1);
    font-size: 2vh;
}

.quiz-item-subtitle {
    font-weight: 500;
    font-size: 1.75vh;
}

.tdlrc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 3vh 0vh 3vh 0vh;
    color: var(--p10);
    background: var(--head);
    z-index: 0;
    width: 100%;
}
.s1 {
    font-size: 7vh;
}
.s2 {
    font-size: 14vh;
}
.s3 {
    position: relative;
    text-align: center;
    line-height: 0.8;
    left: 29.35vh;
}
.s1, .s2 {
    text-align: center;
    font-weight: 800;
    width: 100%;
    line-height: 0.8;
}
.s11 {
    font-size: 1.5vh;
}
.s21 {
    font-size: 3vh;
}
.s22 {
    font-size: 7vh;
}
.s11,
.s21,
.s22 {
    text-align: center;
    font-weight: 800;
    width: 100%;
    line-height: 0.8;
}



/* POPUP*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,.85);*/
    z-index: 5;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1; 
    pointer-events: all;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.modal-transition-leave {
    transition: opacity .15s;
}

.contentt {
    text-align: left;
}

.contentt {
    position: absolute;
    top: 22vh;
    max-width: 60vh;
    padding: 1vh;
    border-radius: 0.5vh;
    z-index: 1;
}

.contentt.active {
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: both;
    opacity: 1;
}

.contentt .bubz {
    width: auto;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contentt .actions {
    margin-top: 10px;
}

.contentt .inline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justyeah {
    font-size: 6vh;
    font-weight: 800;
    color: var(--p10);
    line-height: 1;
}

a.justyeah,
a.justyeah,
a.justyeah:hover,
a.justyeah:visited {
    font-size: 3vh;
    font-weight: 800;
    color: var(--p10);
    line-height: 1;
}

.sv {
    font-size: 2.5vh;
    font-weight: 500;
    color: var(--p9);
}

.tag2 {
    background-color: var(--p12);
    border-radius: 0.5vh;
    padding: 0.3vh;
    margin: 0.5vh 1vh 0vh 0vh;
    font-size: 2vh;
    font-weight: 450;
    cursor: pointer;
    width: max-content;

    display: flex;
    align-items: center;
}

.tag4 {
    background-color: var(--p12);
    border-radius: 0.5vh;
    padding: 0.3vh;
    margin-top: 0.5vh;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    width: max-content;
}

#book2 {
    animation: changeText 12s infinite;
    opacity: 0;
}
  
@keyframes changeText {
    0%, 100% {
      opacity: 0;
    }
    5%, 95% {
      opacity: 1;
    }
}
  



/* WEBKIT SCROLLBAR */

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--p2);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--w1);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bglia);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media screen and (max-width: 1250px) {
    .container {
        width: 78%;
    }
}
@media screen and (max-width: 930px) {
    .container {
        width: fit-content;
        padding-left: 14vh;
        justify-content: center;
    }
    .contentt {
        margin-left: 14vh;
    }
}
@media screen and (max-width: 680px) {
    .s1 {
        font-size: 6.5vh;
    }
}
@media screen and (max-width: 660px) {
    .s1 {
        font-size: 6vh;
    }
    .s2 {
        font-size: 12vh;
    }
    .s3 {
        left: 25vh;
    }
    .quiz-item {
        margin: 0vh 0vh 1vh 0vh;
    }
}
@media screen and (max-width: 590px) {
    .s1 {
        font-size: 5vh;
    }
    .s2 {
        font-size: 10vh;
    }
    .s3 {
        font-size: 1.5vh;
        left: 21vh;
    }
}
@media screen and (max-width: 480px) {
    .s1 {
        font-size: 4.5vh;
    }
    .s2 {
        font-size: 9vh;
    }
    .s3 {
        font-size: 1.5vh;
        left: 18.85vh;
    }
    .tdlrc {
        padding: 4vh 0vh 3vh 0vh;
    }
}

@media screen and (max-height: 376px) {
    .ton {
        top: 1vh;
    }
}